*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cal-body{
    width: 275px;
    min-height: 450px;
    background-color: #3a4655;
    box-shadow: 0 8px 50px -7px black;
}
.cal-screen{
    padding: 1rem;
  
}
input{
    font-size: 2rem;
    color:#ffff ;
    width: 100%;
    background-color: #3a4655;
    outline:none ;
    border: none;
    padding:0.5rem 0 ;
}
.button-row{
    display: flex;
    flex-wrap: wrap;
}
.button-row button{
    width: 25%;
    height: 65px;
    background-color: #425062;
    color: aliceblue;
    font-size: 1.3rem;
    border: none;
    border: solid #3c4857;
    border-width: 1pz 1px 0px 0px;
    
}
